.DS_Store

# Xcode
*.xcuserdatad/

# Generated images
Training/Images/ArtificialSeat/*
Training/Images/ArtificialPiece1/*
Training/Images/ArtificialPiece2/*

# Tensorflow data model
*.h5
*.pb
*.ascii
*.mlmodel
