.DS_Store

# Xcode
*.xcuserdatad/

# Generated images
Training/Images/ArtificialSeat/*
Training/Images/ArtificialPiece1/*
Training/Images/ArtificialPiece2/*
Training/Images/ArtificialUnknownObjects/*
Training/Images/ArtificialBackgrounds/*
Training/Images/ArtificialPiece1Cutouts/*
Training/Images/ArtificialPiece2Cutouts/*
Training/Images/ArtificialSeatCutouts/*

# Tensorflow data model
*.h5
*.pb
*.ascii
*.mlmodel

# Python
*.pyc

# Latex
Documents/Report/main.aux
Documents/Report/main.pdf
Documents/Report/main.out
Documents/Report/main.log
Documents/Report/main.synctex.gz
Documents/Report/main.toc
Documents/Report/Subsections/methods.log
Documents/Report/Subsections/theory.log
