.DS_Store

# Xcode
*.xcuserdatad/

# Generated images
Training/Images/Train/ArtificialSeat/*
Training/Images/Train/ArtificialPiece1/*
Training/Images/Train/ArtificialPiece2/*
Training/Images/Train/ArtificialUnknownObjects/*
Training/Images/Test/ArtificialPiece1/*
Training/Images/Test/ArtificialPiece2/*
Training/Images/Test/ArtificialSeat/*
Training/Images/Test/ArtificialUnknownObjects/*

# Tensorflow data model
*.h5
*.pb
*.ascii
*.mlmodel

# Python
*.pyc

# Latex
Documents/Report/main.aux
Documents/Report/main.pdf
Documents/Report/main.out
Documents/Report/main.log
Documents/Report/main.synctex.gz
Documents/Report/main.toc
Documents/Report/Subsections/methods.log
Documents/Report/Subsections/theory.log
